# Exchange - Binance Testnet (paper trading, sin dinero real)
BINANCE_API_KEY=l3rLCZcBQkZb9rKKjiRImBwZH3u2CLesCnhG0pYuPe4x5nHO10h60WwSpfGyVlM4
BINANCE_API_SECRET=pYOS82DeBb1TxBuiUgjDWRV6HlwxtpTogH7LDCo1aPTfvFZRuYpLhkQ1oVpYvb2g
BINANCE_TESTNET=true

# Trading
TRADING_PAIR=BTC/USDT
TIMEFRAME=1h
INITIAL_CAPITAL=1000

# Riesgo
MAX_RISK_PER_TRADE=0.01
MAX_DAILY_LOSS=0.03
MAX_OPEN_POSITIONS=1

# Notificaciones Telegram (opcional)
TELEGRAM_BOT_TOKEN=8722115403:AAEqrwfQR2TeGAoLQpcZU0XV3y9s-LzC0AE
TELEGRAM_CHAT_ID= 1003323768
